/* font Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-main: "Quicksand", sans-serif;
}

body {
    font-family: var(--font-main);
}

/* range music */
.range-music::-webkit-slider-thumb { 
    /* css cho cái núm tròn */
    -webkit-appearance: none;
    appearance: none;

    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #00ADEF;
    cursor: pointer;
    box-shadow: 0px 0px 8px 0px #000000EB;  
}

.range-music::-moz-range-thumb {
    /* css cho cái thanh trượt */
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #00ADEF;
    cursor: pointer;
    box-shadow: 0px 0px 8px 0px #000000EB;
  }
/* hết range music */